<div>
  <h1>Timers</h1>
  <app-timer init="3" (onComplete)="countdounFinish()"></app-timer>
  <app-timer init="30"></app-timer>
  <app-timer init="120"></app-timer>

  <app-alert-view
    [hidden]="!isAddTimerVisible"
    (onCancel)="hideAddTimer()"
    (onSubmit)="hideAddTimer()"
  >

    <div header> Add new timer </div>

    <label>Set the number of seconds for your timer</label>
    <input [(ngModel)]="time" type="number">

    <button (click)="hideAddTimer()" class="cancel-button">Cancel</button>
    <button (click)="hideAddTimer()">Ok</button>
  
  </app-alert-view>
</div>

<button class="add" (click)="showAddTimer()">+</button>
