<div>
  <h1>Timers</h1>
  <app-timer *ngFor="let timer of timers"  init="{{timer}}" (onComplete)="timerFinish()"></app-timer>
  
  <app-alert-view [hidden]="!isAddTimerVisible">
    <div header> Add new timer </div>
    <label>Set the number of seconds for your timer</label>
    <input [(ngModel)]="time" type="number">
    <button (click)="hideAddTimer()" class="cancel-button">Cancel</button>
    <button (click)="submitAddTimer()">Ok</button>
  </app-alert-view>

  <app-alert-view [hidden]="!isTimerFinish">
    <div header> Timer Finished! </div>
    <label>Yeah!!!!!</label>
    <button (click)="hideTimerFinish()">Ok</button>
  </app-alert-view>
</div>

<button class="add" (click)="showAddTimer()">+</button>
